body > * {
  max-width: 800px;
  margin: 0 auto;
}

img {
  width: 100%;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  position: relative;
  text-decoration: none;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  text-decoration: underline;
}

h1 a:hover::before,
h2 a:hover::before,
h3 a:hover::before,
h4 a:hover::before,
h5 a:hover::before,
h6 a:hover::before {
  content: "#";
  position: absolute;
  opacity: 0.7;
  font-size: 1.2rem;
  line-height: 1rem;
  height: 100%;
  right: 100%;
  margin-right: 4px;
  display: flex;
  align-items: flex-end;
}

pre {
  margin: 0; /* allow putting multiple code blocks together */
}

pre::before {
  content: attr(data-file-name);
}

pre > code {
  /* Display grid allows line highlighting to span the width of a horizontally-scrollable code block on small viewport widths. */
  font-size: 0.8em;
  counter-reset: line;
}

pre > code > .line::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 0.8rem;
  text-align: right;
  color: gray;
}

div[data-rehype-pretty-code-title][data-theme="light"],
pre[data-theme="light"],
code[data-theme="light"] {
  display: var(--theme-display-light);
}

div[data-rehype-pretty-code-title][data-theme="dark"],
pre[data-theme="dark"],
code[data-theme="dark"] {
  display: var(--theme-display-dark);
}

pre > code[data-theme="light"] {
  display: var(--theme-codeblock-display-light);
}

pre > code[data-theme="dark"] {
  display: var(--theme-codeblock-display-dark);
}
