body > * {
  max-width: 800px;
  margin: 0 auto;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-indent: 0;
}

h1[id] > a,
h2[id] > a,
h3[id] > a,
h4[id] > a,
h5[id] > a,
h6[id] > a {
  color: inherit;
  position: relative;
  text-decoration: none;
}

h1[id] > a:hover,
h1[id] > a:focus,
h2[id] > a:hover,
h2[id] > a:focus,
h3[id] > a:hover,
h3[id] > a:focus,
h4[id] > a:hover,
h4[id] > a:focus,
h5[id] > a:hover,
h5[id] > a:focus,
h6[id] > a:hover,
h6[id] > a:focus {
  text-decoration: underline;
}

h1[id] > a:hover::before,
h1[id] > a:focus::before,
h2[id] > a:hover::before,
h2[id] > a:focus::before,
h3[id] > a:hover::before,
h3[id] > a:focus::before,
h4[id] > a:hover::before,
h4[id] > a:focus::before,
h5[id] > a:hover::before,
h5[id] > a:focus::before,
h6[id] > a:hover::before,
h6[id] > a:focus::before {
  content: "#";
  position: absolute;
  opacity: 0.7;
  font-size: 1.2rem;
  line-height: 1rem;
  height: 100%;
  right: 100%;
  margin-right: 4px;
  display: flex;
  align-items: flex-end;
}

blockquote {
  margin-left: 5px;
  border-left: 3px solid #30363d;
  padding-left: 16px;
}

[editornote],
[editornotes] {
  position: relative;
  outline: gray inset 5px;
  padding: 10px 10px 1px;
  /* margin-top: 40px; */
  font-style: italic;
}

[editornote]::before,
[editornotes]::before {
  content: "editor notes";
  position: absolute;
  /* text-transform: uppercase; */
  /* right: -10px; */
  /* bottom: calc(100% + 10px); */
  right: 1px;
  top: 1px;
  /* display: inline-block; */
  /* text-align: right; */
  /* text-decoration: underline; */
  font-style: italic;
  font-size: 0.8em;
  outline: gray solid thin;
  box-sizing: content-box;
  padding: 0 5px;
}

pre > code {
  font-size: 0.8em;
  counter-reset: line;
  /* Display grid allows line highlighting to span the width of a horizontally-scrollable code block on small viewport widths. */
  background-color: var(--theme-codeblock-background-color);
  overflow: auto;
}

pre > code > .line::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 0.8rem;
  text-align: right;
  color: gray;
}

pre[data-theme="light"],
code[data-theme="light"] {
  display: var(--theme-display-light);
}

pre[data-theme="dark"],
code[data-theme="dark"] {
  display: var(--theme-display-dark);
}

[data-rehype-pretty-code-title][data-theme="light"] {
  display: var(--theme-codeblock-title-display-light);
}

[data-rehype-pretty-code-title][data-theme="dark"] {
  display: var(--theme-codeblock-title-display-dark);
}

pre > code[data-theme="light"] {
  display: var(--theme-codeblock-display-light);
}

pre > code[data-theme="dark"] {
  display: var(--theme-codeblock-display-dark);
}

pre > code .line {
  border-left: 2px solid transparent;
  padding-left: 3px;
}
pre > code .line.line--highlighted {
  background-color: var(--theme-codeblock-highlight-background-color);
  border-left-color: var(--theme-codeblock-highlight-border-left-color);
}

pre > code .word.word--highlighted {
  background-color: var(--theme-codeblock-highlight-background-color);
  padding: 5px;
  border-radius: 5px;
}

[data-rehype-pretty-code-title] {
  background-color: var(--theme-codeblock-title-background-color);
  font-size: 0.9rem;
}

[data-rehype-pretty-code-title] span {
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--theme-codeblock-background-color);
}

[data-rehype-pretty-code-title] span::before {
  display: inline-block;
  content: attr(data-language);
  text-transform: uppercase;
  font-size: 0.8rem;
  transform: scale(0.7, 1);
  /* color: #d7ba7d; */ /* actual VS code color */
  color: #e0b352;
  font-weight: bold;
  margin-right: 5px;
}
