.container {
  padding: 0 32px;
}

.main {
  min-height: 88vh;
  padding: 60px 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  padding: 32px 0;
  border-top: 1px solid var(--theme-footer-border-color);
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 64px 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.description a {
  text-decoration: underline;
}

.contactLink {
  background-repeat: no-repeat;
  background-size: 2rem 2rem;
  height: 2rem;
  width: 2rem;
  display: inline-block;
  overflow: hidden;
  text-indent: -7rem;
  filter: invert(var(--theme-contact-link-invert, 0));
}

.contactLink:nth-of-type(n + 2) {
  margin-left: 12px;
}

@media (max-width: 600px) {
  .title {
    font-size: 2.1rem;
  }
  .main {
    padding: 0;
  }
  pre.code {
    display: none;
  }
}
