html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

pre {
  display: block;
  max-width: 98vw;
  margin: auto !important;
}

code {
  font-size: 0.9rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  padding: 5px;
  padding-left: 3px; /** @NOTE there is a 2px border left */
  background-color: var(--theme-code-background-color);
}

code:not([data-language]) {
  color: inherit;
  font-size: 0.85em;
  border-radius: 5px;
  padding: 3px 5px;
}
