html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  /* text-decoration: none; */
}

pre {
  /* display: block; */
  /* overflow: auto; */
  /* max-width: 95vw; */
}

code {
  /* background-color: var(--theme-code-background-color); */
  /* border-radius: 5px; */
  font-size: 0.85em;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
